@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
  margin: 0;
  font-family: "Poppins", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px !important; 
}
